.header, .footer {
    background: #eee;
    padding: 8px;
}

.header a {
    border-radius: 7px;
    background: #ccc;
    padding: 4px;
    color: blue;
    text-decoration: none;
}

.header a:hover {
    background: #aaf;
    color: yellow;
}

.errors {
    background: #f88;
    color: yellow;
    padding: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.flash-msg {
    background: #4AF;
    color: yellow;
    padding: 3px;
    font-weight: bold;
    margin: 3px 0px;
    border-radius: 5px;
}

code {
    background: #ddd;
    color: #080;
    font-weight: bold;
    padding: 2px;
    border-radius: 2px;
}
