<html>
<head>
    <title><?= $ctx->elems->get('title', 'My site title') ?></title>
    <?php $ctx->util->fragment('cssandjs'); ?>
</head>
<body>

<div class="header">
    <?php $ctx->util->fragment('menu'); ?>
</div>

<?= $ctx->util->fragment('flash'); ?>

<?= $ctx->elems->get('contentResult', '<div>No content</div>') ?>

<div class="footer">
    <?php $ctx->util->fragment('footer'); ?>
</div>

<?php
if (sizeof($ctx->elems->errors) > 0) {
    echo '<div class="errors">' . join("\n<br/>\n", $ctx->elems->errors) . '</div>';
}
?>

</body>
</html>

