<html>
<head>
    <title><?= $ctx->elems->get('title', 'My site title') ?></title>
    <link rel="stylesheet" href="<?= aurl('css/common.css') ?>"/>
    <?php
    $cssName = 'css/' . $ctx->elems->page . '.css';
    if (file_exists($cssName)) {
        $cssName = aurl($cssName);
        echo "<link rel=\"stylesheet\" href=\"$cssName\"/>";
    }
    ?>
</head>
<body>

<div class="header">
    <?php fragment('menu'); ?>
</div>

<?= $ctx->elems->get('contentResult', '<div>No content</div>') ?>

<div class="footer">
    <?php fragment('footer'); ?>
</div>

<?php
if (sizeof($ctx->elems->errors) > 0) {
    echo '<div class="errors">' . join("\n<br/>\n", $ctx->elems->errors) . '</div>';
}
?>

</body>
</html>

